{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1 class="text-center">Try Prok</h1>
    <h2 class="text-center bottom-one">Get Your Personalized Recommendations</h2>
</div> 

<form action="/input?mode={{mode}}" method="post" class=" container1 text-center">
  <div class="row bottom-one">
    <div class="col-md-8"> 
      <input name="input1" type="text" class="form-control" required placeholder="Enter a song, artist, or album"> 
    </div> 
    <div class="col-md-4">
      <input name="input1a" type="text" class="form-control" required placeholder="Enter artist">
    </div>
  </div>

  <div class="row bottom-one">
    <div class="col-md-8"> 
      <input name="input2" type="text" class="form-control"  placeholder="Enter a song, artist, or album"> 
    </div> 
    <div class="col-md-4">
      <input name="input2a" type="text" class="form-control" placeholder="Enter artist">
    </div>
  </div>

  <div class="row bottom-one">
    <div class="col-md-8"> 
      <input name="input3" type="text" class="form-control"placeholder="Enter a song, artist, or album"> 
    </div> 
    <div class="col-md-4">
      <input name="input3a" type="text" class="form-control"  placeholder="Enter artist">
    </div>
  </div>

  <div class="row bottom-one">
    <div class="col-md-8"> 
      <input name="input4" type="text" class="form-control" placeholder="Enter a song, artist, or album"> 
    </div> 
    <div class="col-md-4">
      <input name="input4a" type="text" class="form-control"placeholder="Enter artist">
    </div>
  </div>

  <div class="row bottom-two">
    <div class="col-md-8"> 
      <input name="input5" type="text" class="form-control" placeholder="Enter a song, artist, or album"> 
    </div> 
    <div class="col-md-4">
      <input name="input5a" type="text" class="form-control" placeholder="Enter artist">
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
  </div>

</form>
{% endblock %}